.left-login {
    display: flex;
    flex: 3;
    flex-flow: column;
}

.right-login {
    display: flex;
    flex: 2;
}

.logo h1 {
    color: white;
}

.logo {
    width: 100%;
    margin: 0 auto;
}

