nav {
    display: flex;
    height: 50px;
    align-items: center;
    background-color: #363533;
}

.avatar-thumbnail {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin-left: 5px;
}

.nav-logo {
    flex: 1;
    width: 150px;
}

.nav-logo h1 {
    color: white;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: right;
    flex: 3;
    margin-right: 20px;
}

.nav-button {
    width: 100px;
}

.selected {
    background-color: peachpuff;
}