.profile-form-right {
    flex: 3;
    width: 60vw;
}
 .profile-form-right input, .profile-form-right textarea, .profile-form-right select {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
 }

.profile-form-left {
    flex: 2;
}

.profile-form-left h1 {
    color: white;
    -webkit-text-stroke: 1px black;
}

.avatar-thumbnail {
    display: block;
    height: 40vh;
    width: 40vh;
    border-radius: 25vh;
    margin: auto;
}

.help-tooltip {
    position: relative;
    display: inline-block;
}

.tooltip-button {
    padding: 4px;
    font-size: 10px;
    text-align: top;
}

.help-tooltip .tooltiptext {
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 12px;
}

.help-tooltip:hover .tooltiptext {
    visibility: visible;
  }

@media (max-width: 100vh) {
    .avatar-thumbnail {
        max-height: 33vw;
        max-width: 33vw;
        border-radius: calc(max-height/2);
    }
    .profile-form-left {
        max-width: 33
    }
}